#content {
  font-family: sans-serif;
  padding: 5px;
  overflow: auto;
  margin: 0px;
}

.pure-menu-item {
  padding: 0.6em;
  color: #ffffff;
}

body {
  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

#login {
  margin-left: auto;
  margin-right: auto;
  margin-top:100px;
}

#login-field {
  margin: 4px;
  padding: 8px;
  margin-left: 50px;
  margin-right: 50px;
  background: #cccccc;
}

#login-button {
  margin: 4px;
  padding: 8px;
  margin-left: 50px;
  margin-right: 50px;
  background: #cccccc;
}

#check-button {
  margin: 4px;
  padding: 8px;
  margin-left: 50px;
  margin-right: 50px;
  background: #cccccc;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  margin: 0.5 em;
}

.self-team {
  margin: 2px;
  padding: 6px;
  background: #666666;
  color: #ffffff;
}

.self-team {
  text-align: center;
  margin: 2px;
  padding: 6px;
  background: #cccccc;
  color: #000000;
  font-size: 1.5em;
}

.self-hint {
  margin: 2px;
  padding: 6px;
  background: #666666;
  color: #ffffff;
}

.self-secret {
  margin: 2px;
  padding: 6px;
  background: #666666;
  color: #ffffff;
}

.nav-button {
  float: left;
  margin: 2px;
  padding: 6px;
  background: #cccccc;
}

.game-button {
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background: #cccccc;
  width: 150px;
}

.clearfix::after {
  content:"";
  display:table;
  clear:both;
}

.message-card-self {
  width:70%;
  margin: 4px;
  padding: 6px;
  background: #cccccc;
  color: #000000;
  font-size: 1em;
}

.message-card-other {
  float:right;
  width:70%;
  text-align:right;
  margin: 4px;
  padding: 6px;
  background: #ccccff;
  color: #000000;
  font-size: 1em;
}

.check-card {
  margin: 4px;
  padding: 6px;
  background: #cccccc;
  color: #000000;
  font-size: 1em;
}

.check-card-name {
  margin: 4px;
  padding: 6px;
  background: #666666;
  color: #ffffff;
  float:left;
}

.check-card-index {
  margin: 4px;
  padding: 6px;
  background: #990099;
  color: #ffffff;
  float:left;
}

.check-card-secret {
}

.revelation-card {
  margin: 4px;
  padding: 6px;
  background: #cccccc;
  color: #000000;
  font-size: 1em;
}

.revelation-card-name {
  margin: 4px;
  padding: 6px;
  background: #666666;
  color: #ffffff;
  float:left;
}

.revelation-card-index {
  margin: 4px;
  padding: 6px;
  background: #990099;
  color: #ffffff;
  float:left;
}

.revelation-card-secret {
}

#mp-select {
  margin: 4px;
  padding: 4px;
  background: #999999;
}

.mp-select-button {
  float: left;
  margin: 4px;
  padding: 6px;
  background: #cccccc;
}

.mp-select-button-selected {
  float: left;
  margin: 4px;
  padding: 6px;
  background: #ffffff;
}

.mp-result-dummy {
  height:50px;
}

#mp-recipients {
  position:fixed;
  top:0;
  left:55px;
  right:0;
  height: 200px;;

}

.mp-recipient {
  float: left;
  margin: 4px;
  padding: 6px;
  background: #000000;
  height:30px;
  width:30px;
  border-radius:50%;
  color:#ffffff;
  text-align:center;
  font-size:1.5em;
  border-color:#000000;
  border-style:none;
}

.mp-recipient-selected {
  border-color:#ff0000;
  border-style:inset;
  border-width:5px;
}

#mp-message {
  margin: 4px;
  padding: 6px;
  background: #cccccc;
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  height:40px;
}

#mp-message-text {
  margin: 2px;
  padding: 6px;
  width:75%;
  background: #ffffff;
  font-size: 1em;
}

#mp-message-send {
  float: right;
  margin: 4px;
  padding: 6px;
  background: #ffffff;
}
